


@model IEnumerable<Tarea_4.Models.Libro.Libro>


<h1>Lista de Libros</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Autor
            </th>
            <th>
                Fecha Publicacion
            </th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
                 <td>
                    <a asp-controller="Libros" asp-action="UpdateLibroView" asp-route-id="@item.Id">Editar</a> |
                    <form asp-action="DeleteLibro" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-link">Borrar</button>
                    </form>
                </td>
                
            </tr>
        }
    </tbody>
</table>

